.*.swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libideviceactivation-1.0.pc
libtool
ltmain.sh
m4
missing
src/.deps
src/.libs
src/*.o
src/*.lo
src/*.la
stamp-h1

