*.[oa]
*~
*.po
*.lo
*.la
.*.swp
*/.deps/*
*.patch
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libideviceactivation-1.0.pc
libtool
ltmain.sh
m4
missing
src/.libs
tools/.libs
tools/ideviceactivation
stamp-h1
